body {
  font-family: Poppins, sans-serif;
  background: #f3f4f6;
  color: #222;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #111827;
  color: #fff;
  padding: 3rem 0;
}

section {
  padding: 2rem;
}

footer {
  background: #1f2937;
  color: #fff;
  padding: 1rem;
}
